In [6]:
import requests
import json
import pandas as pd

url = 'https://www.convexfinance.com/api/curve-apys'
params = {}
response = requests.get(url, params=params)
response = json.loads(response.text)
response = response['apys']
df = pd.DataFrame.from_dict(response, orient='index')
df

           baseApy     crvApy  crvBoost  crvPrice
compound      2.44   1.331366  1.827015      2.37
usdt          2.06   0.023562  2.091945      2.37
iearn         1.19   0.993348  2.322939      2.37
busd          1.40   1.826029  1.909084      2.37
susdv2        0.41   2.401474  1.923485      2.37
...            ...        ...       ...       ...
silofrax      7.80   0.342843  1.000000      2.37
cadcusdc      0.00  65.806469  1.000000      2.37
tricrypto     0.14   0.000000  2.500000      2.37
tricrypto2    0.91   5.520963  1.733355      2.37
eurt          0.00   0.000000  1.713260      2.37

[79 rows x 4 columns]