In [ ]:
#pip install adodbapi

In [ ]:
#install AMO/OLEDB
#https://docs.microsoft.com/en-us/analysis-services/client-libraries?view=asallproducts-allversions

In [ ]:
#https://github.com/mhammond/pywin32/tree/master/adodbapi/examples
import adodbapi
import pandas as pd

In [12]:
#Power BI XMLA Endpoint
#https://sqlitybi.com/how-to-export-data-from-power-bi-using-xmla-endpoints/

data_source = 'powerbi://api.powerbi.com/v1.0/myorg/My Workspace'
init_catalog = 'My Report'
user_id = ''
password=''
conn = adodbapi.connect(f"Provider=MSOLAP; Timeout=600; \
    Data Source={data_source}; Initial Catalog={init_catalog}; User ID = {user_id}; Password = {password}", timeout=6000)


print('Table list (last rows):')
for i, name in enumerate(conn.get_table_names()):
    if i>500:
        print(i, name)

Table list (last rows):
501 TMSCHEMA_ROLES
502 TMSCHEMA_ROLE_MEMBERSHIPS
503 TMSCHEMA_TABLE_PERMISSIONS
504 TMSCHEMA_VARIATIONS
505 TMSCHEMA_SETS
506 TMSCHEMA_PERSPECTIVE_SETS
507 TMSCHEMA_EXTENDED_PROPERTIES
508 TMSCHEMA_EXPRESSIONS
509 TMSCHEMA_COLUMN_PERMISSIONS
510 TMSCHEMA_DETAIL_ROWS_DEFINITIONS
511 TMSCHEMA_RELATED_COLUMN_DETAILS
512 TMSCHEMA_GROUP_BY_COLUMNS
513 TMSCHEMA_CALCULATION_GROUPS
514 TMSCHEMA_CALCULATION_ITEMS
515 TMSCHEMA_ALTERNATE_OF_DEFINITIONS
516 TMSCHEMA_REFRESH_POLICIES
517 TMSCHEMA_FORMAT_STRING_DEFINITIONS
518 TMSCHEMA_QUERY_GROUPS
519 TMSCHEMA_ANALYTICS_AIMETADATA

In [14]:
#Execute DAX query and get print result
crsr = conn.cursor()

dax_query_text = """//  My DAX Query
EVALUATE
  SUMMARIZECOLUMNS(
    "Link_USD_Price", IGNORE('-1- INPUTS'[Link/USD Price]),
    "ETH_USD_Price", IGNORE('-1- INPUTS'[ETH/USD Price]),
    "BNB_USD_Price", IGNORE('-1- INPUTS'[BNB/USD Price]),
    "MATIC_USD_Price", IGNORE('-1- INPUTS'[MATIC/USD Price]),
    "XDAI_USD_Price", IGNORE('-1- INPUTS'[XDAI/USD Price])
  )
"""
crsr.execute(dax_query_text)

lst = []
for i, row in enumerate(crsr): 
    value = list(row)
    lst.append(value)
    
df = pd.DataFrame(lst)

colnames=list(crsr.columnNames)
for i, col in enumerate(list(crsr.columnNames)) :
    colnames[i] = col[col.rfind("[")+1:col.rfind("]")]
    
df.columns = colnames 
df = df.dropna(axis=0)
display(df)

,link_usd_price,eth_usd_price,bnb_usd_price,matic_usd_price,xdai_usd_price
0,15.780249,1922.51739,321.762966,0.882105,1.002264

In [ ]:
#close cursor
crsr.close()
#close connection
conn.close()